.SoG {
  --content-link-background: rgb(236 232 216 / 92%);
  --content-link-border-color: rgb(137 27 38 / 60%);
  --content-link-icon-color: rgb(181 24 39);
  --content-link-text-color: rgb(94 1 10);
  --tsj-header-image: url("/modules/ts-pf2e-utility/layout/SoG/back2.png");
  --tsj-title-image: url("/modules/ts-pf2e-utility/layout/SoG/back2.png");
  --tsj-insite-image: url("/modules/ts-pf2e-utility/layout/SoG/back1.png");
  --tsj-sidebar-image: url("/modules/ts-pf2e-utility/layout/SoG/back1.png");
}
